
.responsive-calendar {
	background: #111;
  border-radius: 12px;
  width: 1260px;
  margin: auto;
  .container {
  	width: 1035px;
  	margin: auto;
		.controls {
	    background: #ffc600;
	    height: 100px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    line-height: 100px;
	    margin: 0px -113px 0 -112px;
		  h4 {
		  	font-size: 32px;
		  	font-weight: bold;
		  }
		  a {
  	    position: relative;
		    top: 500px;
		    color: #a0a0a0;
		    i {
    	    font-size: 80px;
		    }
		  }
		}
		.day-headers {
			height: 80px;
			line-height: 80px;
			color: rgba(225,225,225,.5);
			.day.header {
				border: 1px solid;
				font-weight: bold;
				font-size: 22px;
			}
		}
		.days {
			.day {
				border: 1px solid;
				a {
			    color: #fff;
			    font-size: 42px;
			    height: 145px;
			    padding: 0;
			    line-height: 145px;
					&:hover {
						background: #ffc600;
						color: #000; 
					}
				}
			}
			.today {
				background: #ffc600;
				a {
					color: #000;
				}
			}
			.day.not-current a {
				color: #414141; 
				font-size: 42px;
				&:hover {
					background: #ffc600;
					color: #000; 
				}
			}
		}
	}
}
