.downloadfile {
	width: 600px;
	background: #0e8ad9;
	border-radius: 20px;
	.container {
		width: 520px;
		padding: 80px 0 82px;
		.row {
			margin: 0;
			.box-03 {
				background: #0e8ad9;
		    width: 20px;
		    height: 20px;
		    border-radius: 10px;
		    top: 5%;
		    left: 45%;
		    position: absolute;
			}
			.box-02 {
		    background: #cfe8f7;
		    width: 4px;
		    height: 100px;
		    left: 50%;
		    bottom: 93%;
		    position: absolute;
			}
			.text-box {
				background: #fff;
				border-radius: 10px;
				text-align: center;
				padding-top: 71px;
				padding-bottom: 23px;
				h1 {
	    		color: #0e8ad9;
	    		font-size: 100px;
	    		font-weight: bold;
			    padding-bottom: 26px;
	    	}
	    	p {
	    		font-size: 22px;
	    	}
			}
			.text {
				text-align: center;
				color: #fff;
				h1 {
					font-size: 32px;
					font-weight: bold;
					margin-bottom: 15px;
				}
				p {
					font-size: 26px;
					opacity: .7;
					margin-bottom: 40px;
				}
				button {
		    	font-size: 26px;
			    font-weight: bold;
			    background: none;
			    border: 5px solid rgba(255,255,255,.3);
			    border-radius: 40px;
			    height: 80px;
			    width: 300px;
			    -webkit-transition: 0.5s;
			    -moz-transition: 0.5s;
			    -ms-transition: 0.5s;
			    -o-transition: 0.5s;
			    transition: 0.5s;
			    &:hover {
			    	background: #fff;
			    	color: #000;
			    }
			  }
			}
		}
	}
	// #wapper {
	// 	position: relative;
	// 	width: 600px;
	// 	height: 430px;
	// 	background: #0e8ad9;
	// 	border-radius: 20px;
	// 	.box-01,.box-02,.box-03,.box-4 {
	// 		position: absolute;
	// 	}
	// 	.box-01 {
	// 		text-align: center;
	// 		background: #fff;
	//     width: 180px;
	//     height: 253px;
	//     border-radius: 10px;
	//     top: 80px;
	//     left: 40px;
	//     .text-box {
	// 	    position: relative;
	//     	top: 70px;
	//     	h1 {
	//     		color: #0e8ad9;
	//     		font-size: 100px;
	//     		font-weight: bold;
	// 		    padding-bottom: 25px;
	//     	}
	//     	p {
	//     		font-size: 22px;
	//     	}
	//     }
	// 	}
	// 	.box-03 {
	//     background: #0e8ad9;
	//     width: 20px;
	//     height: 20px;
	//     border-radius: 10px;
	//     top: 23%;
	//     left: 20%;
	// 	}
	// 	.box-02 {
	// 		background: #cfe8f7;
	//     width: 4px;
	//     height: 100px;
	//     left: 128px;
	// 	}
	// 	.text {
	//     color: #fff;
	//     position: absolute;
	//     text-align: center;
	//     width: 50%;
	//     top: 80px;
	//     left: 45%;
	// 	    h1 {
	// 		    font-size: 32px;
	// 		    font-weight: bold;
	// 		    padding-bottom: 15px;
	// 	    }
	// 	    p {
	// 		    font-size: 26px;
	// 		    opacity: 0.7;
	// 		    padding-bottom: 15px;
	// 	    }
	// 	    button {
	// 	    	font-size: 26px;
	// 		    font-weight: bold;
	// 		    background: none;
	// 		    border: 5px solid rgba(255,255,255,.3);
	// 		    border-radius: 40px;
	// 		    height: 80px;
	// 		    width: 300px;
	// 		    -webkit-transition: 0.5s;
	// 		    -moz-transition: 0.5s;
	// 		    -ms-transition: 0.5s;
	// 		    -o-transition: 0.5s;
	// 		    transition: 0.5s;
	// 		    &:hover {
	// 		    	background: #fff;
	// 		    	color: #000;
	// 		    }
	// 	    }
	// 	}
	// }
}